/**
 * 用于定义全局主题变量
 * 会在build/constant -> FILES_USE_GLOBAL_THEME_VAR声明的文件中自动导入
 */

// 主色
@primary-color: #4b38b3;
// 页面背景色
@page-bg-color: #f3f5fc;
// 主文本色
@text-color: #212529;
// 次文本色
@text-color-secondary: #878a99;
// 链接色
@link-color: #4b38b3;
// 成功色
@success-color: #45cb85;
// 警告色
@warning-color: #ffbe0b;
// 错误色
@error-color: #f06548;
// 失效色
@disabled-color: rgba(0, 0, 0, 0.25);
